<div class="container">
    <div class="container-content">
        <mat-card class="example-card">
            <mat-card-title class="profile-header">{{ 'MYPROFILE.PERSONALDATA' | translate }}</mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item class="profile-information">
                        <p class="profile-information-name">{{ 'MYPROFILE.NAME' | translate }}:</p>
                        <p class="profile-information-data">{{user.username}}</p>
                    </mat-list-item>
                    <mat-list-item *ngIf="updating" class="profile-information">
                        <mat-form-field class="full-width-input">
                            <input matInput type="text" class="form-control" [(ngModel)]="update.username" />
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item class="profile-information">
                        <p class="profile-information-name">{{ 'MYPROFILE.POSTCODE' | translate }}:</p>
                        <p class="profile-information-data">{{user.postcode}}</p>
                    </mat-list-item>
                    <mat-list-item *ngIf="updating" class="profile-information">
                        <mat-form-field class="full-width-input">
                            <input matInput type="number" class="form-control" [(ngModel)]="update.postcode" />
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item class="profile-information">
                        <p class="profile-information-name">{{ 'MYPROFILE.CITY' | translate }}:</p>
                        <p class="profile-information-data">{{user.city}}</p>
                    </mat-list-item>
                    <mat-list-item *ngIf="updating" class="profile-information">
                        <mat-form-field class="full-width-input">
                            <input matInput type="text" class="form-control" [(ngModel)]="update.city" />
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item class="profile-information">
                        <p class="profile-information-name">{{ 'MYPROFILE.STREET' | translate }}:</p>
                        <p class="profile-information-data">{{user.street}}</p>
                    </mat-list-item>
                    <mat-list-item *ngIf="updating" class="profile-information">
                        <mat-form-field class="full-width-input">
                            <input matInput type="text" class="form-control" [(ngModel)]="update.street" />
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item class="profile-information">
                        <p class="profile-information-name">{{ 'MYPROFILE.EMAIL' | translate }}:</p>
                        <p class="profile-information-data">{{user.email}}</p>
                    </mat-list-item>
                    <mat-list-item *ngIf="updating" class="profile-information">
                        <mat-form-field class="full-width-input">
                            <input matInput type="email" class="form-control" [(ngModel)]="update.email" />
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item class="profile-information">
                        <p class="profile-information-name">{{ 'MYPROFILE.ROLE' | translate }}:</p>
                        <p class="profile-information-data" *ngIf="user.role === 'Customer'">{{ 'MYPROFILE.CUSTOMER' |
                            translate }}</p>
                        <p class="profile-information-data" *ngIf="user.role === 'Admin'">{{ 'MYPROFILE.ADMIN' |
                            translate }}</p>
                        <p class="profile-information-data" *ngIf="user.role === 'Staff'">{{ 'MYPROFILE.STAFF' |
                            translate }}</p>
                    </mat-list-item>
                    <mat-list-item *ngIf="!updating" class="action-button"><button (click)="updating = !updating"
                            mat-raised-button>{{
                            'MYPROFILE.EDITPROFILE' |
                            translate }}</button></mat-list-item>
                    <mat-divider inset></mat-divider>
                    <mat-list-item *ngIf="updating" class="action-button">
                        <button (click)="updateUser()" mat-raised-button>Update</button>
                        <button (click)="updating = !updating" mat-raised-button>Cancel</button>
                    </mat-list-item>
                    <mat-divider inset></mat-divider>
                    <mat-list-item *ngIf="!updatingPassword" class="action-button"
                        (click)="updatingPassword = !updatingPassword"><button mat-raised-button>{{
                            'MYPROFILE.CHANGEPASSWORD' |
                            translate }}</button>
                    </mat-list-item>
                    <mat-list-item *ngIf="updatingPassword" class="profile-information">
                        <p class="profile-information-name">New password:</p>
                    </mat-list-item>
                    <mat-list-item *ngIf="updatingPassword" class="profile-information">
                        <mat-form-field class="full-width-input">
                            <input matInput type="password" class="form-control"
                                [(ngModel)]="passwordUpdate.password" />
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item *ngIf="updatingPassword" class="profile-information">
                        <p class="profile-information-name">Repeat new password:</p>
                    </mat-list-item>
                    <mat-list-item *ngIf="updatingPassword" class="profile-information">
                        <mat-form-field class="full-width-input">
                            <input matInput type="password" class="form-control"
                                [(ngModel)]="passwordUpdate.repeatPassword" />
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item *ngIf="updatingPassword" class="action-button">
                        <button (click)="updateUserPassword()" mat-raised-button>Update</button>
                        <button (click)="updatingPassword = !updatingPassword" mat-raised-button>Cancel</button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>