<div class="container">
  <div class="container-content">
    <ul class="product-container">
      <li class="product filter">
        <mat-card class="product-card">
          <span class="product-toolbar">
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>sort</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <a mat-menu-item (click)="sort = 'productname:asc'; this.getProducts()">{{ 'FILTER.NAME' | translate
                }}</a>
              <a mat-menu-item (click)="sort = 'price:asc'; this.getProducts()">{{ 'FILTER.PRICE' | translate }}</a>
            </mat-menu>
            <form class="search-form" (ngSubmit)="searchProduct()">
              <mat-form-field class="search-bar">
                <input type="tel" matInput placeholder="{{ 'HOME.SEARCHBAR' | translate}}" name="search" [(ngModel)]="search">
                <button matSuffix mat-button (click)="searchProduct()">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            </form>
          </span>
        </mat-card>
      </li>
      <li *ngFor="let card of productCards; let i = index" class="product">
        <mat-card class="product-card">
          <img mat-card-image
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAAKlBMVEXg4OD////j4+Pb29v7+/vi4uLx8fHs7Oz39/f09PTa2tru7u7m5ubX19cF3ejnAAABRElEQVR4nO3Z27JDMBiAURFVVN//dXfp+ZC6Y0//tS4zphPflARVBQAAAAAAAAAAAAAAAAAAAAAAAADAj6i/23p6G+jSkn7rKa6tXUyS0mHrSa4rp9QuHNKlJq8yl//i1GS/cEgbtsm4Kx0StEme7ipd4ZCgTQ7zrbT7fOoxm+TL+vL58ondZLwPd/2tQ+wm99HTRu4WJWaTapyTtNdTz/Pe9holaJNcnxrsh+vYZbt/iRK0SVUdj8fnf8k9StgmDyMPD4VzlNBN5qU4Pz0nT1EiN2mmdSe/vDroQzdppsX4NUlKOXCT5ry9f3t3ErhJU3qfFLdJMUncJuUkYZvkchJNNJlo8u58P6l3JXXoPVtRxCZ9PX5Tx/u+4zvgu2H5e3E7LP/MbxmWLowhXBIAAAAAAAAAAAAAAAAAAAAAAAAAgF/1BxZSCIBLTls7AAAAAElFTkSuQmCC">
          <mat-card-content>
            <h1 class="product-title">{{card.productname}}</h1>
            <h1 class="price">{{card.price}} $</h1>
            <p>{{card.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="buyProduct(card)" mat-button class="product-buy">{{ 'PRODUCTS.BUY' | translate }}</button>
          </mat-card-actions>
        </mat-card>
      </li>
    </ul>
  </div>
</div>