@import '~@angular/material/theming';

$thd-prime: (
    50: #6f6f6e,
    100: #6f6f6e,
    200: #6f6f6e,
    300: #6f6f6e,
    400: #6f6f6e,
    500: #6f6f6e,
    600: #6f6f6e,
    700: #6f6f6e,
    800: #6f6f6e,
    900: #6f6f6e,
    A100: #6f6f6e,
    A200: #6f6f6e,
    A400: #6f6f6e,
    A700: #6f6f6e,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$thd-accent: (
    50: #009fe3,
    100: #009fe3,
    200: #009fe3,
    300: #009fe3,
    400: #009fe3,
    500: #009fe3,
    600: #009fe3,
    700: #009fe3,
    800: #009fe3,
    900: #009fe3,
    A100: #009fe3,
    A200: #009fe3,
    A400: #009fe3,
    A700: #009fe3,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);